.clock {
  max-width: 700px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.setters {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

button {
  margin: 20px;
  padding: 10px 20px;
  border: 1px solid #030303;
  border-radius: 5px;
  background-color: #22aa5f;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 20px;
  padding: 25px;
}
button:hover{
  background-color: aquamarine;
  border: none;
  box-shadow: 2px 2px 2px black;
}

h4 {
  font-size: 30px;
  margin-top: 20px;
}

span {
  font-size: 24px;
}

.display {
  text-align: center;
  margin-top: 20px;
}
